@import "src/alldoc.variables.scss";



.main-page-content-wrapper {
    border-top: 0.07rem solid #ffffff;
}
.progress {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}
