.ap-separator {
    border-bottom: #E1E2E3 1px solid;
    margin: 0px;
}
.tab-tracking {
    margin: 6px 14px;
    padding: 6px 14px;
}
.tab-tracking:hover{
    background-color: #F5F6F7;
    margin: 6px 14px;
    padding: 6px 14px;
}