@import "src/alldoc.variables.scss";

ap-empty-section {
    min-height: 200px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font: normal normal 14px/24px Arial;
    letter-spacing: 0.1px;
    color: #000000DE;
    opacity: 0.87;

    .mat-icon,
    .ap-empty-section--image {
        height: 45px;
        width: 50px;
    }

    .ap-empty-section-text--one {
        margin-top: 15px;
        font-weight: bold;
    }

    .ap-empty-section-text--two {}

    .ap-empty-section--link {
        opacity: 1;
        margin-top: 23px;
        letter-spacing: 0.42px;
        font-size: 12px;
        text-decoration-line: none;
        color: $primary-color;
        cursor: pointer;
        &:hover {
            font-weight: bold;
        }
    }
}