ap-shared-spinner-button {
    .mat-mdc-outlined-button {
        @extend .mat-stroked-button;
        height: 34px;
        width: 100px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    .mat-button-with-spinner {
        position: relative;
    }
    .spanSpinner {
        position: absolute;
        top: 0px;
        left: 28px;
    }
}
